@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;

}

body {
    background: #F6ECEC;
    color: #00240F;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

p,
a,
span {
    font-size: 16px;
}


.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav.navigation-menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav a {
    color: #00240F;
    font-size: 18px;
}

.active {
    color: #EC0000;
}

.logo img {
    max-width: 75%;
}

.logo-text {
    color: #00240F;
    font-size: 30px;
    font-weight: 500;
}

.box-layout {
    max-width: 980px;
    width: 100%;
    margin: 40px auto;
    background: #ffffff;
    border-radius: 30px;
    padding: 40px;
}

.hero-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 30px;
}

.hero-row {
    background: url("images/margherita.png") no-repeat right;
    background-size: contain;
    display: flex;
    flex-basis: 50%;
}

.hero-cta {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 50%;
    height: 200px;
    justify-content: center;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px 11px;
    gap: 10px;
    width: 182px;
    height: 50px;
    background: #EC0000;
    box-shadow: -10px 20px 40px rgba(236, 0, 0, 0.16);
    border-radius: 25px;
    color: #ffffff;
}

.gradient {

    position: absolute;
    width: 516px;
    height: 446px;
    left: 43%;
    top: 148px;
    background: linear-gradient(270deg, #FFFFFF 24.6%, rgba(255, 255, 255, 0.94) 37.11%, rgba(255, 255, 255, 0.9) 46.89%, rgba(255, 255, 255, 0) 82.49%);
    mix-blend-mode: normal;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.header-btn {
    width: 120px;
    box-shadow: none;
}

.menu-row {
    display: flex;
    gap: 30px;
    padding-top: 40px;

}

.menu-section {
    padding: 100px 30px;
}

.btn2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px 11px;
    gap: 10px;
    width: 220px;
    height: 40px;
    background: #EC0000;
    border-radius: 25px;
    color: #ffffff;
}

.pod {

    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    gap: 20px;
    border: 1px solid #BDBDBD;
    border-radius: 180px 180px 30px 30px;
    box-shadow: -10px 20px 40px -1px rgba(0, 0, 0, 0.2);
}

.pod img {
    border-radius: 100%;
}

.menu-section h2 {
    text-align: center;
}

select#pizza-1 {
    width: 220px;
    height: 40px;
    border-radius: 40px;
    padding: 0px 20px;
}

select#pizza-2 {
    width: 220px;
    height: 40px;
    border-radius: 40px;
    padding: 0px 20px;
}

select#pizza-3 {
    width: 220px;
    height: 40px;
    border-radius: 40px;
    padding: 0px 20px;
}

h3.price-1 {
    color: #05A84B;
}

h3.price-2 {
    color: #05A84B;
}

h3.price-3 {
    color: #05A84B;
}

.pizza-detail {
    text-align: center
}

select#pizza option {
    font-size: 14px;
}

.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-body {
    display: none;
    position: absolute;
    top: 50%;
    left: 37%;
    background: #F6ECEC;
    width: 500px;
    height: 400px;
    box-shadow: -10px 20px 40px rgba(78, 76, 76, 0.30);
    padding: 40px;
}

.form-body input {
    width: 100%;
    display: block;
    height: 30px;
    margin-top: 16px;
}

.form-bodylabel {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 130px;
    height: 50px;
}

#hemburger {
    display: none;
    color: #00240F;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .top-header:before {
        content: '';
        background-image: url(images/leaf-1.png);
        position: absolute;
        top: 5px;
        left: 40%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }

    .hero-row:before {

        content: '';
        background-image: url(images/tomato-2.png);
        position: absolute;
        top: 80%;
        left: 75%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 300px;

    }

    .menu-section:before {

        content: '';
        background-image: url(images/leaf-2.png);
        position: absolute;
        top: 100%;
        left: 8%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;

    }

    .menu-section:after {

        content: '';
        background-image: url(images/leaf-3.png);
        position: absolute;
        bottom: -160%;
        right: 0%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 250px;
        height: 250px;

    }

    .box-layout:after {

        content: '';
        background-image: url(images/tomato-1.png);
        position: absolute;
        bottom: -143%;
        left: 6%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        z-index: -1;

    }

    .form-body {
        display: none;
        position: absolute;
        top: 50%;
        left: 31%;
        background: #F6ECEC;
        width: 500px;
        height: 400px;
        box-shadow: -10px 20px 40px rgba(78, 76, 76, 0.30);
        padding: 40px;
    }
}

@media only screen and (min-width: 1367px) {
    .top-header:before {
        content: '';
        background-image: url(images/leaf-1.png);
        position: absolute;
        top: 0;
        left: 40%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }

    .hero-row:before {

        content: '';
        background-image: url(images/tomato-2.png);
        position: absolute;
        top: 57%;
        left: 67%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 300px;

    }

    .menu-section:before {

        content: '';
        background-image: url(images/leaf-2.png);
        position: absolute;
        top: 65%;
        left: 20%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;

    }

    .menu-section:after {

        content: '';
        background-image: url(images/leaf-3.png);
        position: absolute;
        bottom: -75%;
        right: 14%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 250px;
        height: 250px;

    }

    .box-layout:after {

        content: '';
        background-image: url(images/tomato-1.png);
        position: absolute;
        bottom: -63%;
        left: 19%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        z-index: -1;

    }
}

#close {
    color: #00240F;
    float: right;
    margin-top: -10px;
}

/*respomsive code*/
@media only screen and (max-width: 768px) {

    .menu-row {
        flex-direction: column;
    }

    .hero-row {
        padding: 40px 15px;
        flex-direction: column-reverse;

    }

    .box-layout {
        width: 95%;
        padding: 20px;
    }

    .gradient {
        position: absolute;
        width: 250px;
        height: 250px;
        left: 10%;
        top: 239px;
        background: linear-gradient(270deg, #FFFFFF 24.6%, rgba(255, 255, 255, 0.94) 37.11%, rgba(255, 255, 255, 0.9) 46.89%, rgba(255, 255, 255, 0) 82.49%);
        mix-blend-mode: normal;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .hero-cta {
        flex: 1;
    }

    .hero-row {
        background: url(images/margherita.png) no-repeat center;
        background-size: contain;
        display: flex;
        flex-basis: 50%;
        flex: 1;
    }

    .menu-section {
        padding: 40px 10px;
        padding-top: 300px;

    }

    .top-header {
        display: flex;
        flex-direction: column;
    }

    .logo img {
        max-width: 100%;
    }

    nav {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-cta {
        transform: translateY(250px);
    }

    .form-body {
        display: none;
        position: absolute;
        top: 50%;
        left: 12%;
        width: 300px;
        height: 400px;
        box-shadow: -10px 20px 40px rgb(78 76 76 / 30%);
        padding: 40px;
        z-index: 9;
    }

    #hemburger {
        display: block;
        z-index: 9999;
    }

    nav.navigation-menu {
        display: none;
        visibility: hidden;
    }

    .mobile-menu {
        visibility: visible !important;

    }

    nav.navigation-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        position: absolute;
        z-index: 2;
        width: 100vw;
        background: #ffffff;
        top: 0;
    }

}